/* Importa la fuente Poppins (pesos 400, 600 y 700) desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* =========================== */
/*         ESTILOS BASE        */
/* =========================== */
body {
  margin: 0;
  padding: 0;
  background-color: #D9D9DB;
  font-family: 'Poppins', sans-serif;
}

/* =========================== */
/*        CONTENEDOR MAIN      */
/* =========================== */
#main {
  transition: margin-left 0.5s;
  margin-left: 250px; /* Espacio reservado para el sidebar visible */
  padding: 20px;
}

/* =========================== */
/*          NAVBAR             */
/* =========================== */
.navbar {
  background-color: #000 !important;  /* Fondo negro oscuro forzado */
  border-bottom: 1px solid #333;
  padding: 0.5rem 1rem;
}

.navbar .navbar-brand {
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #fff;
}

.navbar .nav-link {
  color: #ccc;
  transition: color 0.3s;
}

.navbar .nav-link:hover,
.navbar .dropdown-toggle:hover {
  color: #fff;
}

/* Sobrescribe el fondo del navbar para que sea negro absoluto */
.navbar.bg-dark {
  background-color: #000 !important;
}

/* Fuerza el color de los enlaces del navbar a blanco */
.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-brand {
  color: #fff !important;
}

/* Si usas dropdown, también forzamos sus colores */
.navbar-dark .dropdown-menu {
  background-color: #000;
  border: none;
}

.navbar-dark .dropdown-item {
  color: #fff;
}

.navbar-dark .dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* =========================== */
/*          SIDEBAR            */
/* =========================== */
.sidenav {
  height: calc(100% - 56px); /* Resta la altura del navbar */
  width: 250px;              /* Ancho visible por defecto */
  position: fixed;
  top: 56px;                 /* Debajo del navbar */
  left: 0;
  background-color: #000;    /* Fondo negro */
  overflow-x: hidden;
  padding-top: 20px;
  transition: width 0.5s, padding 0.5s;
}

.sidenav a {
  display: block;
  padding: 12px 32px;          /* Padding mayor para mayor legibilidad */
  font-size: 16px;             /* Tamaño de fuente ligeramente reducido */
  font-weight: 300;            /* Texto más definido */
  letter-spacing: 1px;         /* Mayor espaciado entre letras */
  text-transform: none;   /* Mayúsculas para un look más pulido */
  color: #e0e0e0;              /* Color claro para contraste */
  text-decoration: none;
  transition: color 0.3s, background-color 0.3s;
}

.sidenav a:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}

/* Clase para ocultar el sidebar */
.sidenav.closed {
  width: 0;
  padding: 0;
}

/* Botón para cerrar el sidebar (opcional) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  cursor: pointer;
}

/* =========================== */
/*       BOTÓN CIRCULAR        */
/* =========================== */
.btn-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: #000;   /* Fondo negro */
  color: #fff;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-circle:hover {
  background-color: #111;
  transform: scale(1.05);
}

/* =========================== */
/*          RESPONSIVE         */
/* =========================== */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 16px;
  }
}
